In [1]:
not 5>4

False

In [2]:
not (5>4)

False

In [3]:
I=10
I>>1

5

In [4]:
I="ffffffffffffffffffffffffffffyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"
J="ffffffffffffffffffffffffffffyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"
I is J

True

In [5]:
list = ["2", "5", "7", "8", "1"]
list = [int(i) for i in list]
list.sort()
print (list)

[1, 2, 5, 7, 8]

In [6]:
with open("example.txt") as countletter:
    count = 0
    text = countletter.read()
    for character in text:
        if character.isupper():
            count += 1

print(text)            
print(count)

Привет мир
Ура, Париж и Лондон
To Be Or Not To Be
10

In [7]:
with open("example.txt") as countletter:
    count = sum(1 for line in countletter for character in line if character.isupper())

print(count)

10

In [9]:
a = 100
print (a)

def some_function():
    global a
    print (a)
    a = 'Intellipaat'
    
some_function()
print (a)

100
100
Intellipaat

In [12]:
a = 10
print (a)
del a
print (a)

10

NameError: name 'a' is not defined

In [13]:
a = 'Intellipaat'
b = 100
print (a+b)

TypeError: can only concatenate str (not "int") to str

In [14]:
a = 'Intellipaat'
b = 100
print(a + str(b))

Intellipaat100

In [16]:
a = -3.7
int(a)

-3

In [29]:
"oidarasy".center(5, "1")

'oidarasy'

In [33]:
L1 = ['a', 'b']
L2 = ['c', 'd']
L3 = L2 + L1
print(L3)

['c', 'd', 'a', 'b']

In [34]:
list1 = [1,2,3,4,5]
print(list1[2:4])
print(list1[2:-1])
print(list1[:2])
print(list1[2:])

[3, 4]
[3, 4]
[1, 2]
[3, 4, 5]

In [37]:
list1 = [1,2,3,4,5]
del list1[2]
print(list1)
list2 = [1,2,3,'4',5]
list2.remove('4')
print(list2)
list3 = [1,2,3,4,5]
print(list3.pop(-1))
print(list3)

[1, 2, 4, 5]
[1, 2, 3, 5]
5
[1, 2, 3, 4]

In [50]:
mylist = ["a", "b", "c", "d", "c"]
mydict = set(mylist)
#mylist = list(mydict)
print(mydict)
print(mylist)

{'d', 'b', 'c', 'a'}
['a', 'b', 'c', 'd', 'c']

In [51]:
lst = [10, 11, 12, 13, 14, 15]
lst.reverse()
print(lst)

[15, 14, 13, 12, 11, 10]

In [1]:
tup1 = ('Intellipaat', 'Python', 'tutorial')
tup2 = 1,2,3,4
print (tup1)
print (tup2)
tup3 = tup1 + tup2
print (tup3)

('Intellipaat', 'Python', 'tutorial')
(1, 2, 3, 4)
('Intellipaat', 'Python', 'tutorial', 1, 2, 3, 4)

In [6]:
myset = set(("table", 25, 12e-2))
print(myset)

{0.12, 25, 'table'}

In [10]:
myset = {1, 2, 3}
myset.update(("table", 5))
print(myset)

{1, 2, 3, 5, 'table'}

In [11]:
myset = {1, 2, 3}
x = myset.pop()
print(x)
print(myset)

1
{2, 3}

In [12]:
myset.clear()
print(myset)

set()

In [15]:
dict3 = dict([(1, 'Intellipaat'), (2,'Python')])
print(dict3)

{1: 'Intellipaat', 2: 'Python'}

In [20]:
cubes = {1:1, 2:8, 8:21, 'town':64, 5:125}
for i in cubes:
    print(cubes[i])
    
print(cubes)

1
8
21
64
125
{1: 1, 2: 8, 8: 21, 'town': 64, 5: 125}

In [21]:
print(cubes.pop(2))
print(cubes)

8
{1: 1, 8: 21, 'town': 64, 5: 125}

In [22]:
print(cubes.popitem())
print(cubes)

(5, 125)
{1: 1, 8: 21, 'town': 64}

In [26]:
I = 20
J = 20
if(I is J):
    print ('I and J have same identity')
else:
    print ('I and J have not same identity')

I and J have same identity

In [1]:
a = int(input())
if a < -5:
    print('Low')
elif -5 <= a <= 5:
    print('Mid')
else:
    print('High')

3
Mid

In [3]:
b = int(input())
b0 = 'pos' if b > 0 else 'neg'
print (b0)

-5
neg

In [4]:
b = int(input())
print('pos') if b > 0 else print('neg')

-8
neg

In [3]:
a = 1

while (a < 10):
    print("loop entered", a, "times")
    a = a+1
print("loop ends here")

loop entered 1 times
loop entered 2 times
loop entered 3 times
loop entered 4 times
loop entered 5 times
loop entered 6 times
loop entered 7 times
loop entered 8 times
loop entered 9 times
loop ends here

In [10]:
for i in range(20, 10, -2):
    print(i)

20
18
16
14
12

In [13]:
for i in range(1,9,2):
    for j in range(i):
        print(i, end = ' ')
    print()

1
3 3 3
5 5 5 5 5
7 7 7 7 7 7 7

In [19]:
# defining a function
def printOutput(str):
    '''This function will print the passed string'''
    print (str)
    return

#calling a function
printOutput("Welcome to Intellipaat")
print(printOutput.__doc__)

Welcome to Intellipaat
This function will print the passed string

In [6]:
# Multiple inheritance

class BaseClass1():
    def __init__(self):
        print("Base class 1")
        
class BaseClass2():
    def __init__(self):
        print("Base class 2")
        
class derivedClass (BaseClass1, BaseClass2):
    def __init__(self):
        BaseClass1.__init__(self)
        BaseClass2.__init__(self)
        print("derived class")
        
#    def display_all(self):
#        print(self.ob1, self.ob2)
    
ob = derivedClass()

Base class 1
Base class 2
derived class

In [7]:
# Multilevel inheritance

class BaseClass():
    def __init__(self):
        print("Base class")
        
class childClass(BaseClass):
    def __init__(self):
        print("Child class")
        
class grandchildClass(childClass):
    def __init__(self):
        BaseClass.__init__(self)
        childClass.__init__(self)
        print("Grand child class")
        
ob1 = grandchildClass()

Base class
Child class
Grand child class

In [10]:
from math import *
sqrt(54)

7.3484692283495345

In [22]:
import datetime
a = datetime.datetime.now()
print(a.year)
b = datetime.datetime(2050,11,11)
print(b)
print(b.strftime("%d"), b.strftime("%B"))
print(b.strftime("%x"), b.strftime("%c"))

2019
2050-11-11 00:00:00
11 November
11/11/50 Fri Nov 11 00:00:00 2050

In [6]:
import re
print (re.match("i", "intellipaat"))

<re.Match object; span=(0, 1), match='i'>

In [11]:
m = re.search('\\bopen\\b', 'please open the door')
print (m)

<re.Match object; span=(7, 11), match='open'>

In [15]:
class RaisingValueError(Exception):
    def __init__(self, data):
        self.data = data

    def __str__(self):
        return repr(self.data)
    
Total_movie = int(input("Enter Total Movies Seen: "))

try:
    Num_of_genres = int(input("Enter Num of genres: "))
    if(Num_of_genres < 1):
        raise RaisingValueError("Number of genres can’t be less than 1")

except RaisingValueError as e:
    print ("Try entering again:", e.data)

Enter Total Movies Seen: 0
Enter Num of genres: 0
Try entering again: Number of genres can’t be less than 1

In [16]:
String = "Python"
list = [(i, j) for i, j in enumerate(String, 1)]
print(list)

[(1, 'P'), (2, 'y'), (3, 't'), (4, 'h'), (5, 'o'), (6, 'n')]

In [17]:
h_letters = [ letter for letter in 'human' ]
print( h_letters)

['h', 'u', 'm', 'a', 'n']

In [21]:
import queue
q = queue.PriorityQueue()
q.put(2)
q.put(4)
q.put(1)
q.put(0)
q.put(2)
print("qsize:", q.qsize())

for i in range(q.qsize()):
    print(q.get(i))
    
print("qsize:", q.qsize())

qsize: 5
0
1
2
2
4
qsize: 0

In [2]:
9//2.0

4.0

In [3]:
-11//3

-4

In [6]:
lst = [1,2,3,4,5,6]
lst[5] = 22
lst

[1, 2, 3, 4, 5, 22]

In [10]:
lst.append("val2")
lst

[1, 2, 3, 4, 5, 22, 'val', 'val2']

In [11]:
lst.pop()
lst

[1, 2, 3, 4, 5, 22, 'val']

In [12]:
str1 = "0123456789"
str1[3:7]

'3456'

In [21]:
dic = {1: 10, 2: 11, 3: 12, 4: 13}
print(dic.keys())
print(dic.values())
print(type(dic.keys()))

dict_keys([1, 2, 3, 4])
dict_values([10, 11, 12, 13])
<class 'dict_keys'>

In [22]:
list(dic.keys())

[1, 2, 3, 4]

In [25]:
price = 800
print("Buy.") if price >= 700 else print("Don’t buy.")

Buy.

In [26]:
a="New Text" 
count=0 
for i in a: 
    if i=='e': 
        count=count+1 
        
print(count)

2

In [29]:
a=0 
i=0 
while i<10: 
    a=a+2 
    i=i+1 
    
print(a)

20

In [31]:
aa = [1,2,8,4,11,6]
bb = sum(aa)
bb

32

In [32]:
cc = sorted(aa)
cc

[1, 2, 4, 6, 8, 11]

In [33]:
cc = sorted(aa, reverse=True)
cc

[11, 8, 6, 4, 2, 1]

In [35]:
x = 'Coke'
z1 = x[2:]
print(z1)
# Slicing
z2 = x[0] + x[1]
print(z2)

ke
Co

In [38]:
str1 = "4 U-Cake 4 U"
str2 = "404"
len(str1)

12

In [39]:
str1.replace('4 U', str2)

'404-Cake 404'

In [40]:
import array as arr
a = arr.array("I",[3,6,9])
type(a)

array.array

In [41]:
a

array('I', [3, 6, 9])